{{> head }}

{{> navbar }}

<div class="container">

    <div class="row">
        <div class="col-8">
            <h2>React | Node</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore at ipsa reprehenderit amet minus
                inventore,
                aliquam explicabo officiis dolorem suscipit, maiores ad. Dolores quos fugiat quia vitae quasi, aliquam
                dignissimos?</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/react-node.png " alt="react" class="img-thumbnail">
        </div>
    </div>

</div>

{{> footer }}